* {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    color: aliceblue;
    font-size: large;
    padding: 30px;
    text-align: center;

}

.container {

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    justify-content: center;
    padding: 30px;
}

.container>div {

    /* border: 2px solid rgb(0, 0, 0); */
 border-collapse: collapse;
    width: 150px;
    height: 150px;
   
}

img {
    height: 151px;
    width: 151px;
}
.img6{
    border-radius: 30px;
}
.container:hover{
    background-color: aliceblue;
}
.box{
    display: grid;
    justify-content: space-evenly;
    
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
   
}
.b1,.b11{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
   
}
.b1:hover{
    
    background-color: rgb(255, 31, 31);
}
.b11:hover{
    
    background-color: rgb(0, 200, 255);
}
.box1{
    display: grid;
    justify-content: space-evenly;
    height: 500px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
